.login {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  place-items: center;
  background-color: black;
  height: 100vh;
  overflow: hidden;
}

.login > a {
  padding: 20px;
  background-color: #1db954;
  border-radius: 99px;
  text-decoration: none;
  color: white;
  font-weight: 800;
  cursor: pointer;
}
@media (max-width: 768px) {
  .login > img {
    width: 100%;
  }
}
